.addnote{
    margin: auto;
    text-align: center;
    & input{
        display: block;
        margin: auto;
        padding: 0.6rem 1rem;
        // font-size: 1rem;
    }
    &_delete{
        display: block;
        margin: 1rem auto;
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
    }
    // &_notes{
    //     padding: 1rem;
    //     border: 1px solid red;
    // }
}